/* styles.css */

/* Genel Gövde Stilleri */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    padding-top: 56px; /* Sabit üst menü için boşluk */
}

/* Başlık Stilleri */
header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header .download-button,
header .youtube-link {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
}

/* Ana İçerik Stilleri */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

/* Abonelik Planları Tablosu */
.subscription table {
    width: 100%;
    margin-top: 20px;
}

.subscription table th,
.subscription table td {
    padding: 15px;
    text-align: left;
}

.subscription table th {
    background-color: #343a40;
    color: white;
}

.subscription table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Altbilgi Stilleri */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
